{% extends "./inc/base.html" %}

{% block content %}
<section class="vbox">
    <header class="header bg-light dk">
        <p>{{controller.meta_title}}</p>
    </header>
    <section class="scrollable wrapper">

        <section class="panel panel-default">
            <header class="panel-heading clearfix">
                <ul class="nav nav-tabs pull-left">
                    <!-- <li class="{{controller.get('model')|default('active', true)}}"><a href="/admin/approval/shop"> 全部
                            <span class="badge bg-info">{{count}}</span></a></li> -->
                    {%for m in model%}
                    <li class="{%if controller.get('model')==m.id%}active{%endif%}"><a
                            href="/admin/approval/shop/?model={{m.id}}">{{m.title}}审核 {%if m.count > 0%}<span
                                class="badge bg-info">{{m.count}}</span>{%endif%}</a>
                        {%endfor%}
                    </li>
                </ul>
                <i title="" data-original-title="" class="fa fa-info-sign text-muted pull-right" data-toggle="tooltip"
                    data-placement="bottom" data-title=""><i class="fa fa-question-circle"></i></i>
            </header>
            <div class="row wrapper">

                <div class="col-sm-9 m-b-xs">
                    <div class="">

                        <a class="btn btn-sm btn-success ajax-post" target-form="ids" href="/{{ctx.controller}}/adopta">
                            通过审核
                        </a>
                        <a class="btn btn-sm btn-danger ajax-post" target-form="ids" href="/{{ctx.controller}}/refuse">
                            拒绝审核
                        </a>

                    </div>
                </div>

            </div>
            <div class="table-responsive">
                {%if btn != 4%}
                <table class="table table-hover b-t b-light treetable" id="category">
                    <thead>
                        <tr>
                            <th style="width:20px;"><label class="checkbox m-n i-checks"><input
                                        type="checkbox"><i></i></label></th>
                            <th> 编号 </th>
                            <th>卖家id</th>
                            <th>最后更新</th>
                            <th>状态</th>
                            <th>浏览</th>
                            <th>操作</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for item in listshops.data %}
                        <tr>
                            <td><label class="checkbox m-n i-checks"><input class="ids" type="checkbox" name="ids"
                                        value="{{item.id}}"><i></i></label></td>
                            <td>{{item.id}}</td>
                            <td><a href="/admin/user/showuser/?id={{item.user_id}}" class="text-info"
                                    data-toggle="ajaxModal">{{item.user_id|get_nickname}}</a></td>
                            <td>{{item.expire_date | moment('YYYY-MM-DD HH:mm:ss')}}</td>
                            <td>{%if item.status == 0 %}待审核{%elif item.status== 1%}重新提交{%elif item.status == 10 %}一审通过{%endif%}</td>
                            <td>浏览</td>

                            <td>
                                <!-- <a href="/{{ctx.controller}}/adopta/?ids={{item.id}}" class="btn btn-rounded btn-xs btn-icon btn-success ajax-get" data-toggle="tooltip" data-placement="top" title="" data-original-title="通过审核"><i class="fa fa-check"></i></a> -->

                                <a href="/admin/approval/edshop/?ids={{item.id}}" data-toggle="ajaxModal"
                                    title="">编辑</a>

                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="7">
                                <div class="alert alert-warning alert-block">
                                    <button data-dismiss="alert" class="close" type="button">×</button>
                                    <p>This would display if the 'item' collection were empty</p>
                                </div>
                            </td>
                        </tr>

                        {% endfor %}


                    </tbody>
                </table>

                {% else %}
                <table class="table table-hover b-t b-light treetable" id="category">
                    <thead>
                        <tr>
                            <th style="width:20px;"><label class="checkbox m-n i-checks"><input
                                        type="checkbox"><i></i></label></th>
                            <th> 编号 </th>
                            <th> 商铺名称 </th>
                            <th>卖家id</th>
                            <th>最后更新</th>
                            <th>状态</th>
                            <th>浏览</th>
                            <th>操作</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for item in listgoods.data %}
                        <tr>
                            <td><label class="checkbox m-n i-checks"><input class="ids" type="checkbox" name="ids"
                                        value="{{item.id}}"><i></i></label></td>
                            <td>{{item.id}}</td>
                            <td><a href="/admin/user/showuser/?id={{item.uid}}" class="text-info"
                                    data-toggle="ajaxModal">{{item.uid|get_nickname}}</a></td>
                            <td>{{item.uid}}</td>
                            <td>{{item.time | moment('YYYY-MM-DD HH:mm:ss')}}</td>
                            <!-- <td>{{item.state}}</td> -->
                            <td>状态</td>
                            <td>浏览</td>


                            <td>
                                <!-- <a href="/{{ctx.controller}}/adopta/?ids={{item.id}}" class="btn btn-rounded btn-xs btn-icon btn-success ajax-get" data-toggle="tooltip" data-placement="top" title="" data-original-title="通过审核"><i class="fa fa-check"></i></a> -->

                                <a href="/admin/approval/edgoods/?ids={{item.id}}&model={{btn}}" data-toggle="ajaxModal"
                                    title="">编辑</a>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="7">
                                <div class="alert alert-warning alert-block">
                                    <button data-dismiss="alert" class="close" type="button">×</button>
                                    <p>This would display if the 'item' collection were empty</p>
                                </div>
                            </td>
                        </tr>

                        {% endfor %}


                    </tbody>
                </table>

                {% endif %}
            </div>

            <footer class="panel-footer">
                <div class="row">


                    <div class="col-sm-12 text-right text-center-xs">
                        {%if btn == 4%}
                        {{ pagerDataGoods | safe}}
                        {%else%}
                        {{ pagerDataShops | safe}}
                        {% endif%}
                    </div>
                </div>
            </footer>
        </section>
    </section>

</section>

{% endblock %}

{% block script %}
<script type="text/javascript">
    function applyList(page) {
        debugger
        $.ajax({
            type: "post",
            // /ext/changyan/index/signin
            url: "/home/business/applyList",
            data: {
                'page': page,
            },
            // data:{username:'username',password:'password'},

            success: function (data) {
                if (data.errno == 1000) {
                    debugger
                    alert(data.errmsg)
                } else {
                    debugger
                    // window.close();
                    alert('成功')
                }
            }
        })
    };
    // applyList(1);
</script>

{% endblock %}