<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{{controller.meta_title}} {{ids}}</h4>
        </div>
        <div class="modal-body" style="padding: 0">
            <div class="table-responsive">
                <!-- <p>{{detailsInfostr}}</p> -->

                <table class="table table-striped b-t b-light">
                    <thead>
                        <tr>

                            <th>字段</th>
                            <th>内容</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for k,v in detailsInfo%}
                        <tr>

                            <td>{{k}}</td>
                            <!-- {{v|safe}}展示带标签的内容 -->
                            <td>{% if k =='content'%}{{v|safe}}{%else%}{{v}}{%endif%}</td>

                        </tr>
                        {%endfor%}
                    </tbody>
                </table>

                <div class="row">
                    <div class="col-lg-12">
                        <p style="width: 200px; height:20px;background-color: aqua;">
                            <!-- {{model}}  -->
                            <br>
                        </p>

                        <ul class="nav nav-tabs ">

                            {% set mm = model.field_group | parse_config_attr|length %}
                            {% for key ,group in model.field_group | parse_config_attr %}
                            {%if loop.index != mm%}
                            <li {% if 1 == key %} class="active" {% endif %}><a data-toggle="tab"
                                    href="#tabl-{{key}}"><i class="fa fa-comments text-muted"></i> {{group}}</a></li>
                            {%endif%}
                            {% endfor %}

                        </ul>
                        <section class="panel panel-default padding-0"
                            style="margin-top: 0px;border-top-width: 0; border-top-left-radius: 0;border-top-right-radius: 0">

                            <div class="panel-body">
                                
                                    <div class="tab-content">
                                        {% for key ,group in model.field_group | parse_config_attr %}
                                        {%if loop.index != mm%}
                                        <div id="tabl-{{key}}" class="tab-pane  {% if 1 == key %}active{% endif %}">
                                            {%if sort and key ==1%}
                                            <input type="hidden" name="sort_id" value="{{controller.get('sortid')}}">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">
                                                    分类
                                                </label>
                                                <div class="col-sm-10">
                                                    <div class="row">
                                                        <div class="col-md-10">
                                                            <div class="btn-group">
                                                                {%for val in sort.types%}
                                                                <a href="/center/publish/add/?model_id={{controller.get('model_id')}}&pid={{controller.get('pid')}}&cate_id={{controller.get('cate_id')}}&group_id={{controller.get('group_id')}}&sortid={{val.enable}}"
                                                                    class="btn btn-sm btn-default {%if controller.get('sortid') == val.enable%}active{%endif%}">
                                                                    {{val.name}}
                                                                </a>
                                                                {%endfor%}

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {%for val in typevar%}
                                            {%if val.available==1%}
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">
                                                    {{val.option.title}}
                                                </label>
                                                <div class="col-sm-10">
                                                    <div class="row">
                                                        {%if val.option.type == 'select' %}
                                                        <div class="col-md-3">
                                                            <select class="form-control "
                                                                name="sortid_{{val.option.identifier}}"
                                                                {% if val.required == 1 %}data-required="true"
                                                                {%endif%}>
                                                                <option value=" ">请选择</option>
                                                                {% for k ,v in val.option.rules.choices %}
                                                                <option value="{{k}}">[{{k}}] {{v}}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        {% elif val.option.type == 'number' or val.option.type == 'range' %}
                                                        <div class="col-md-2">
                                                            <input type="number" class="form-control "
                                                                name="sortid_{{val.option.identifier}}"
                                                                value="{{val.option.rules.defaultvalue}}0"
                                                                data-type="number"
                                                                {% if val.required == 1 %}data-required="true"
                                                                {%endif%}>
                                                        </div>
                                                        {% elif val.option.type == 'textarea' %}
                                                        <div class="col-md-8">
                                                            <textarea class="form-control"
                                                                name="sortid_{{val.option.identifier}}"
                                                                {% if val.required == 1 %}data-required="true" {%endif%}
                                                                {% if val.option.rules.rowsize %}
                                                                rows="{{val.option.rules.rowsize}}"
                                                                {% endif %}>{{val.option.rules.defaultvalue}}</textarea>
                                                        </div>
                                                        {% elif val.option.type == 'radio' %}
                                                        <div class="col-md-8">
                                                            {% for k ,v in val.option.rules.choices %}
                                                            <label class="radio-inline i-checks">
                                                                <input type="radio" value="{{k}}"
                                                                    name="sortid_{{val.option.identifier}}"><i></i>
                                                                {{v}}
                                                            </label>
                                                            {% endfor %}
                                                        </div>
                                                        {% elif val.option.type == 'checkbox' %}
                                                        <div class="col-md-8">
                                                            <input class="hide" type="checkbox" value="0"
                                                                name="sortid_{{val.option.identifier}}" checked>
                                                            {% for k ,v in val.option.rules.choices %}
                                                            <label class="checkbox-inline i-checks">
                                                                <input type="checkbox" value="{{k}}"
                                                                    name="sortid_{{val.option.identifier}}"><i></i>
                                                                {{v}}
                                                            </label>
                                                            {% endfor %}
                                                        </div>
                                                        {% elif val.option.type == 'calendar' %}
                                                        <div class="col-md-3">
                                                            <input type="text" name="sortid_{{val.option.identifier}}"
                                                                class="form-control date" value="" data-type="dateIso"
                                                                placeholder="YYYY-MM-DD"
                                                                {% if val.required == 1 %}data-required="true"
                                                                {%endif%} />
                                                        </div>
                                                        {%elif val.option.type == 'email'%}
                                                        <div class="col-md-3">
                                                            <input type="text" name="sortid_{{val.option.identifier}}"
                                                                class="form-control" data-type="email"
                                                                {% if val.required == 1 %}data-required="true"
                                                                {%endif%}>
                                                        </div>
                                                        {%elif val.option.type == "image"%}
                                                        <div class="col-sm-10">
                                                            <input type="hidden" name="sortid_{{val.option.identifier}}"
                                                                id="sortid_{{val.option.identifier}}" value="0" />
                                                            <div id="fileList_sortid_{{val.option.identifier}}"
                                                                class="uploader-list"></div>
                                                            <div id="filePicker_sortid_{{val.option.identifier}}">选择图片
                                                            </div>

                                                        </div>
                                                        {%elif val.option.type == "url"%}
                                                        <div class="col-md-6">
                                                            <input type="text" name="sortid_{{val.option.identifier}}"
                                                                data-type="url"
                                                                {% if val.required == 1 %}data-required="true" {%endif%}
                                                                class="form-control" placeholder="">
                                                        </div>
                                                        {%else%}
                                                        <div class="col-md-8">
                                                            <input type="text" class="form-control "
                                                                name="sortid_{{val.option.identifier}}"
                                                                value="{{val.option.rules.defaultvalue}}"
                                                                {% if val.required == 1 %}data-required="true"
                                                                {%endif%}>
                                                        </div>
                                                        {%endif%}
                                                    </div>
                                                </div>
                                            </div>
                                            {%endif%}
                                            {%endfor%}
                                            <div class="b-b margin-bottom-10"></div>
                                            {%endif%}
                                            {% if groups and key==1 %}
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">
                                                    分组
                                                </label>
                                                <div class="col-sm-10">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <select class="form-control " name="group_id">
                                                                <option value="0">不分组</option>
                                                                {% for k ,v in groups %}
                                                                <option value="{{k}}"
                                                                    {%if controller.get('group_id')==k%}
                                                                    selected{%endif%}>{{v}}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="b-b margin-bottom-10"></div>
                                            {% endif%}
                                            {% for field in fields[key] %}
                                            {% if field.is_show == 1 or field.is_show == 2 %}
                                            <div class="form-group">

                                                <label class="col-sm-2 control-label">{%if field.is_must==1%}<i
                                                        class="fa fa-asterisk text-danger"></i> {%endif%}
                                                    {{field.title}}</label>

                                                <div class="col-sm-10">

                                                    <div class="row">

                                                        {% if field.type == "num" %}
                                                        <div class="col-md-2">
                                                            <input type="text"
                                                                class="form-control {%if field.is_must ==1%}required{%endif%}"
                                                                name="{{field.name}}" value="{{field.value}}">
                                                        </div>
                                                        {% elif field.type == "string" %}
                                                        <div class="col-md-10">
                                                            <input type="text"
                                                                class="form-control {%if field.is_must ==1%}required{%endif%}"
                                                                name="{{field.name}}" value="{{field.value}}">
                                                        </div>
                                                        {% elif field.type == "textarea" %}
                                                        <div class="col-md-8">
                                                            <textarea name="{{field.name}}"
                                                                class="form-control {%if field.is_must ==1%}required{%endif%}">{{field.value}}</textarea>
                                                        </div>
                                                        {% elif field.type == "date" %}
                                                        <div class="col-md-3">
                                                            <input type="text" name="{{field.name}}"
                                                                class="form-control data {%if field.is_must ==1%}required{%endif%}"
                                                                placeholder="请选择日期" />
                                                        </div>
                                                        {% elif field.type == "datetime" %}
                                                        <div class="col-md-3">
                                                            <input type="text" name="{{field.name}}"
                                                                class="form-control time {%if field.is_must ==1%}required{%endif%}"
                                                                placeholder="请选择时间" />
                                                        </div>
                                                        {% elif field.type == "freight" %}
                                                        <div class="col-md-5">
                                                            <input type="hidden" name="{{field.name}}"
                                                                value='{"type":0,"val":0}' id="{{field.name}}" />
                                                            <table class="table table-bordered b-t b-light m-b-none">
                                                                <tr>
                                                                    <td>
                                                                        <div class="radio i-checks">
                                                                            <label>
                                                                                <input type="radio" checked="" value="0"
                                                                                    id="js-unified-postage"
                                                                                    name="{{field.name}}_radio">
                                                                                <i></i>
                                                                                统一运费
                                                                            </label>

                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="radio i-checks">
                                                                            <label>
                                                                                <input type="radio" value="1"
                                                                                    id="js-use-delivery"
                                                                                    name="{{field.name}}_radio">
                                                                                <i></i>
                                                                                运费模板
                                                                            </label>
                                                                        </div>

                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2">
                                                                        <div class="radio-tab1">
                                                                            <div class="input-group ">
                                                                                <span class="input-group-addon">￥</span>
                                                                                <input type="text" class="form-control"
                                                                                    style="width:100px" value="0"
                                                                                    id="js-postage">
                                                                            </div>
                                                                        </div>
                                                                        <div class="radio-tab2 hide ">
                                                                            <select style="width:260px"
                                                                                data-placeholder="请选择运费模板"
                                                                                class="chosen-select1"
                                                                                id="js-delivery-template">
                                                                                <option value=""></option>
                                                                                <option value="1">测试运费模板1</option>
                                                                                <option value="2">测试运费模板2</option>
                                                                            </select>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </table>

                                                        </div>
                                                        {% elif field.type == "suk" %}
                                                        <div class="col-md-12">
                                                            <input type="hidden" name="{{field.name}}"
                                                                class="form-control" value="" id="{{field.name}}" />
                                                            <section class="panel panel-default padding-0">
                                                                <header
                                                                    class="panel-heading {{field.name}}_heading hide">
                                                                    <ul class="nav nav-pills pull-right">
                                                                        <li>
                                                                            <a href="#"
                                                                                class="panel-toggle text-muted"><i
                                                                                    class="fa fa-caret-down text-active"></i><i
                                                                                    class="fa fa-caret-up text"></i></a>
                                                                        </li>
                                                                    </ul>商品规格
                                                                </header>
                                                                <section
                                                                    class="chat-list panel-body {{field.name}}_body  hide">
                                                                </section>
                                                                <footer class="panel-footer btn btn-block"
                                                                    id="{{field.name}}_addsuk">
                                                                    <!-- chat form -->
                                                                    <i class="fa fa-plus text"></i> 添加规格项目
                                                                </footer>
                                                            </section>
                                                            <section
                                                                class="panel panel-default {{field.name}}_table padding-0 hide">
                                                                <header class="panel-heading">
                                                                    <ul class="nav nav-pills pull-right">
                                                                        <li>
                                                                            <a href="#"
                                                                                class="panel-toggle text-muted"><i
                                                                                    class="fa fa-caret-down text-active"></i><i
                                                                                    class="fa fa-caret-up text"></i></a>
                                                                        </li>
                                                                    </ul>
                                                                    商品库存
                                                                </header>

                                                                <div class=" panel-body padding-0">
                                                                    <table
                                                                        class="table table-bordered b-t b-light margin-bottom-0">
                                                                        <thead> </thead>
                                                                        <tbody></tbody>
                                                                    </table>
                                                                </div>
                                                                <footer class="panel-footer">
                                                                    <div class="row">
                                                                        <div class="col-sm-10 hidden-xs">
                                                                            批量设置: <a
                                                                                class="btn btn-sm btn-default popover-hide"
                                                                                title="" data-html="true"
                                                                                data-toggle="popover"
                                                                                data-placement="bottom"
                                                                                data-original-title='<button type="button" class="close pull-right" data-dismiss="popover">&times;</button>设置价格'
                                                                                data-content="<div class='form-inline'><div class='form-group '><input type='text' placeholder='请输入价格' id='price-batch-txt' class='form-control input-sm m-l'></div><a class='btn btn-success btn-sm ' id='js-batch-price' href='javascript:;'>保存</a></div>">价格</a>
                                                                            <a class="btn btn-sm btn-default popover-hide"
                                                                                title="" data-html="true"
                                                                                data-toggle="popover"
                                                                                data-placement="bottom"
                                                                                data-original-title='<button type="button" class="close pull-right" data-dismiss="popover">&times;</button>设置库存'
                                                                                data-content="<div class='form-inline'><div class='form-group '><input type='text' placeholder='请输入库存' id='stock-batch-txt' class='form-control input-sm m-l'></div><a class='btn btn-success btn-sm ' id='js-batch-stock'  href='javascript:;'>保存</a></div>">库存</a>
                                                                            <a class="btn btn-sm btn-default popover-hide"
                                                                                title="" data-html="true"
                                                                                data-toggle="popover"
                                                                                data-placement="bottom"
                                                                                data-original-title='<button type="button" class="close pull-right" data-dismiss="popover">&times;</button>设置重量（件/g）'
                                                                                data-content="<div class='form-inline'><div class='form-group '><input type='text' placeholder='请输入单价商品的重量' id='weight-batch-txt' class='form-control input-sm m-l'></div><a class='btn btn-success btn-sm ' id='js-batch-weight'  href='javascript:;'>保存</a></div>">重量（件/g）</a>
                                                                        </div>

                                                                    </div>
                                                                </footer>
                                                            </section>

                                                        </div>
                                                        {% elif field.type == "price" %}
                                                        <div class="col-md-5">
                                                            <input type="hidden" name="{{field.name}}" id="price">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="input-group ">
                                                                        <span class="input-group-addon">￥</span>
                                                                        <input type="text" class="form-control"
                                                                            id="present_price">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6"> <input type="text"
                                                                        placeholder="原价：¥99.99" class="form-control"
                                                                        id="discount_price"> </div>
                                                            </div>
                                                        </div>
                                                        {% elif field.type == "pics" %}
                                                        <div class="col-md-10">
                                                            {{HOOKS@homeUpPics[field.name]|safe}}
                                                        </div>
                                                        {% elif field.type == "atlas" %}
                                                        <div class="col-md-10">
                                                            {{HOOKS@homeAtlas[field.name]|safe}}
                                                        </div>
                                                        {% elif field.type == "bool" %}
                                                        <div class="col-md-4">
                                                            <select class="form-control" name="{{field.name}}">
                                                                {% for k ,v in field.extra|parse_config_attr %}
                                                                <option value="{{k}}" {% if field.value == k%} selected
                                                                    {%endif%}>{{v}}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        {% elif field.type == "select" %}
                                                        <div class="col-md-3">
                                                            <select class="form-control " name="{{field.name}}">
                                                                {% for k ,v in field.extra|parse_config_attr %}
                                                                <option value="{{k}}" {% if field.value == k%} selected
                                                                    {%endif%}>{{v}}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        {% elif field.type == "radio" %}
                                                        <div class="col-sm-10">
                                                            {% for k ,v in field.extra|parse_config_attr %}
                                                            <label class="radio-inline i-checks">
                                                                <input type="radio" value="{{k}}" name="{{field.name}}"
                                                                    {% if field.value == k%} checked {%endif%}><i></i>
                                                                {{v}}
                                                            </label>
                                                            {% endfor %}
                                                        </div>
                                                        {% elif field.type == "checkbox" %}
                                                        <div class="col-sm-10">
                                                            {% for k ,v in field.extra|parse_config_attr %}
                                                            <label class="checkbox-inline i-checks">
                                                                <input type="checkbox" value="{{k}}"
                                                                    name="{{field.name}}" {% if field.value == k%}
                                                                    checked {%endif%}><i></i> {{v}}
                                                            </label>
                                                            {% endfor %}
                                                        </div>
                                                        {% elif field.type == "editor" %}
                                                        <div class="col-sm-12">
                                                            {%if model.editor == '1'%}
                                                            {{HOOKS@homeEdit@1[field.name]|safe}}
                                                            {%elif model.editor == '2_1'%}
                                                            {{HOOKS@homeEdit@2_1[field.name]|safe}}
                                                            {%elif model.editor == '2_2'%}
                                                            {{HOOKS@homeEdit@2_2[field.name]|safe}}
                                                            {%elif model.editor == '3'%}
                                                            {{HOOKS@homeEdit@3[field.name]|safe}}
                                                            {%else%}
                                                            {{HOOKS@homeEdit[field.name]|safe}}
                                                            {%endif%}
                                                        </div>
                                                        {% elif field.type == "picture" %}
                                                        <div class="col-md-10">
                                                            {{HOOKS@homeUpPic[field.name]|safe}}
                                                        </div>
                                                        {% elif field.type == "file" %}
                                                        <div class="col-md-10">{{HOOKS@homeUpFile[field.name]|safe}}
                                                        </div>
                                                        {% else %}
                                                        <div class="col-md-2">
                                                            <input type="text"
                                                                class="form-control {%if field.is_must ==1%}required{%endif%}"
                                                                name="{{field.name}}" value="{{data[field['name']]}}">
                                                        </div>
                                                        {% endif %}

                                                        {% if field.remark %}
                                                        <div class="col-md-12">
                                                            <span class="help-block m-b-none text-muted"><i
                                                                    class="fa fa-info-circle text-info"></i>
                                                                {{field.remark|safe}}</span>
                                                        </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% endfor%}
                                        </div>
                                        {%endif%}
                                        {% endfor %}
                                        <div class="line line-dashed b-b line-lg pull-in"></div>
                                    </div>


                               
                            </div>
                        </section>
                    </div>
                </div>

                <label class="col-sm-2 control-label">
                    拒绝原因:
                </label>
                <div class="col-sm-10">
                    <textarea name="" class="form-control"></textarea>
                </div>
                <div style="clear:both"></div>
            </div>
        </div>
        <div class="modal-footer">
            <!-- <a href="#" class="btn btn-default" data-dismiss="modal">关闭</a> -->
            <a class="btn btn-danger ajax-get" target-form="ids" href="/{{ctx.controller}}/refuse/?ids={{ids}}">
                拒绝
            </a>
            <a class="btn btn-success ajax-post" target-form="ids" href="/{{ctx.controller}}/adopta?ids={{ids}}">
                通过
            </a>

        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->