{% block style %}
<style type="text/css">
    .refuse-content {
        position: relative;
        margin-top: 15px;
    }

    label {
        text-align: right;
        padding-top: 0 !important;
    }

    .clear {
        clear: both;
    }

    .form-horizontal .form-group {
        margin: 0 0 15px 0;
        padding-bottom: 15px;
        border-bottom: 1px solid #e5e5e5;
    }
</style>
{% endblock %}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{{controller.meta_title}}</h4>
        </div>

        <form method="post" class="form-horizontal" action="/admin/approval/edshop" data-validate="parsley">
            <div class="modal-body refuse-content" style="padding: 0">
                <div class="table-responsive">
                    <!-- <p style="background-color: aqua;">{{detailsxx}}</p> -->
                    <!-- 公司全名 -->
                     <div class="form-group" style="margin-top: 25px">
                        
                        <label class="col-sm-3 control-label font-bold">公司全名</label>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-md-5">
                                    {{details.biz_name}}
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>

                    </div>
                    <!-- 公司介绍 -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label font-bold">公司介绍</label>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-md-5">
                                    {{details.introduction}}
                                </div>

                            </div>
                        </div>
                        <div class="clear"></div>

                    </div>
                    <!-- 公司经营方式 -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label font-bold">经营方式</label>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-md-5">
                                    {{details.biz_prac}}
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>

                    </div>
                    <!-- 公司经营范围 -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label font-bold">经营范围</label>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-md-5">
                                    {{details.biz_scope}}
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>

                    </div>
                    <!-- 公司法人 -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label font-bold">法人</label>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-md-5">
                                    {{details.store_manager}}
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>

                    </div>
                    <!-- 公司电话 -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label font-bold">电话</label>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-md-5">
                                    {{details.manager_phone}}
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>

                    </div>
                    <!-- 公司邮箱 -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label font-bold">邮箱</label>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-md-5">
                                    {{details.manager_email}}
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>

                    </div>
                    <!-- 公司地址 -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label font-bold">公司地址</label>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-md-5">
                                    {{details.address}}
                                </div>

                            </div>
                        </div>
                        <div class="clear"></div>

                    </div>
                    <!-- 图片1上传-->
                    <div class="form-group">
                        <label class="col-sm-3 control-label font-bold">logo</label>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-sm-9">
                                    <a href="{{details.logo}}" class="pull-left thumb-md avatar b-3x m-r" target="_blank>
                                        <img src="{{details.logo}}">
                                    </a>
                                    {#
                                    <a href="/u/avatar/{{userinfo.uid}}" class="pull-left thumb-md avatar b-3x m-r">
                                        <img src="/u/avatar/{{userinfo.uid}}" alt="{{userinfo.username}}">
                                    </a>
                                    #}
                                    <!-- {{HOOKS@adminUpPic.icon|safe}} -->
                                </div>
                            </div>

                        </div>
                        <div class="clear"></div>

                    </div>
                    <!-- 图片1上传-->
                    <div class="form-group">
                        <label class="col-sm-3 control-label font-bold">企业营业执照</label>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-sm-9">
                                    <!-- {{HOOKS@adminUpPicss.icon|safe}} -->
                                    
                                    <a href="{{details.license}}" class="pull-left thumb-md avatar b-3x m-r" target="_blank>
                                        <img src="{{details.license}}">
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>

                    </div>
                    <!-- 图片1上传-->
                    <div class="form-group">
                        <label class="col-sm-3 control-label font-bold">银行开户许可证</label>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-md-5 flex-wrap">
                                    <a href="{{details.account}}" class="pull-left thumb-md avatar b-3x m-r" target="_blank>
                                        <img src="{{details.account}}">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>

                    </div>
                    <!-- 图片1上传-->
                    <div class="form-group">
                        <label class="col-sm-3 control-label font-bold" style="padding-left: 7px;">医疗器械生产许可证</label>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-md-5 flex-wrap">
                                    <a href="{{details.prod_cert}}" class="pull-left thumb-md avatar b-3x m-r" target="_blank>
                                        <img src="{{details.prod_cert}}">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>

                    </div>
                    <!-- 图片1上传-->
                    <div class="form-group">
                        <label class="col-sm-3 control-label font-bold">生产备案凭证</label>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-md-5 flex-wrap">
                                    <a href="{{details.registration}}" class="pull-left thumb-md avatar b-3x m-r" target="_blank>
                                        <img src="{{details.registration}}">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>

                    </div>
                    <!-- 图片1上传-->
                    <div class="form-group">
                        <label class="col-sm-3 control-label font-bold">网络销售许可证</label>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-md-5 flex-wrap">
                                    <a href="{{details.online_sales}}" class="pull-left thumb-md avatar b-3x m-r" target="_blank>
                                        <img src="{{details.online_sales}}">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>

                    </div>
                    <!-- 图片1上传-->
                    <div class="form-group">
                        <label class="col-sm-3 control-label font-bold">法人身份证复印件</label>
                        <div class="col-sm-9" style="margin-top:6px">
                            <div class="row">
                                <div class="col-md-5 flex-wrap">
                                    <span class="ml10">身份证正面（国徽面）</span>
                                    <a href="{{details.legal_person_front}}" class="pull-left thumb-md avatar b-3x m-r" target="_blank>
                                        <img src="{{details.legal_person_front}}">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>

                    </div>
                    <div class="form-group" style="margin-bottom: 45px">
                        <label class="col-sm-3 control-label font-bold"></label>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-md-5 flex-wrap">
                                    <span class="ml10">身份证反面（人像面）</span>
                                    <a href="{{details.legal_person_back}}" class="pull-left thumb-md avatar b-3x m-r" target="_blank>
                                        <img src="{{details.legal_person_back}}">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>

                    </div>
                    <div class="clear"></div> 
                    
                    {%if details.biz_status !=20 %}
                    <label class="col-sm-2 control-label">
                        拒绝原因:
                    </label>
                    <div class="col-sm-10">
                        <textarea name="reject" class="form-control"></textarea>
                    </div>
                    {%endif%}
                    <div class="clear"></div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" name="biz_id" value="{{details.id}}">
                <input type="hidden" name="user_id" value="{{userinfo.uid}}">

                {%if details.biz_status == 0 or details.biz_status == 1%}
                    <button class="btn btn-danger ajax-post" type="submit" name="action_type" value="first_reject"
                        target-form="form-horizontal">拒绝</button>
                    <button class="btn btn-success ajax-post" type="submit" target-form="form-horizontal" name="action_type"
                        value="first_pass">通过</button>
                    <a href="#" class="btn btn-default" data-dismiss="modal">关闭</a>

                {%elif details.biz_status == 10%}
                    <button class="btn btn-danger ajax-post" type="submit" target-form="form-horizontal" name="action_type"
                        value="second_reject">拒绝</button>
                    <button class="btn btn-success ajax-post" type="submit" target-form="form-horizontal" name="action_type"
                        value="second_pass">通过</button>
                    <a href="#" class="btn btn-default" data-dismiss="modal">关闭</a>

                {%elif details.biz_status == 20%}
                    <a href="#" class="btn btn-default" data-dismiss="modal">关闭</a>
                {%endif%}
            </div>
        </form>

    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->