<div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{{controller.meta_title}}</h4>
        </div>

        <div class="modal-body">
            <div class="text-center">
                <img alt="微信支付" width="200" height="200" style="" src="data:image/jpg;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAAEsAQAAAABRBrPYAAABW0lEQVR42u3aSXLEIAwFUN1MV9eRcgNio4lJxNn/TsVFmbdSgRDqpvbl80NgYGBgYE2of/gZvf/v4BnlW7CCsT11oIjjLVjJnlDqhMM+1Ldgf7E+SbYeGexfzBakgH1g/nwnNMLc6l0PNh8fMv9VpwzYUq547iNfjueqBizDq7PjNo7yBaxkfQsPmc/XJc/hBVvZGFSxONuTwUrm6U4PDvHl2WTPlmBzeDWQvjq1hGGwK+th9XtEC9eWcgVsq98islntWUIksAuzgyIHHIUy2JXJ3nDqjsBKZkkvzxGbFV6qaLC9ftPLBGVCjBiDFWxIf8M2Phy7YGu5ovXd0HDKlgBYxfL6b6kvSmTb0WBHFqEkii66t9dPXSmwub3p1cnQQiGwG4uvb5rEdZZob5uAndgcV8p+E9iV+SFi25vi+0Owgs2Hx1isgF3YFE2JG0V1yoDhh0ZgYGBgn9gvg1uZZxc7+3MAAAAASUVORK5CYII=">
                <p class="text-center andriod-wxpay__title">请使用微信<br>扫描二维码进行支付</p>
            </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->